*{margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.m-img img{
    height: 25px;
}

.menu i{
    font-size: 25px;
    margin-right: 15px;
    padding-left: 15PX;
    color: rgb(144, 144, 144);
    
}

.cart i{
    font-size: 25px;
    margin-right: 15px;
    padding-left: 15PX;
    color: rgb(144, 144, 144);
}

.cart i{
    padding-top:5px ;
    padding-right: 15px;
    
    height: 30px;
    /* background-color: aqua; */
}
.cart .fa-user{
    border-radius: 50%;
       border: 1px solid gray;
       /* font-size: 15px; */
     
}

.main{
    margin-top: 25px;
}

.main img{
    width: 100%;
    height: 480px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mi img{
    width: 45px;
    height: 45px;
    /* border: 2px solid black; */
   padding-left: 70px;
   padding-bottom: 20px;}

.mi{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    /* background-color: aqua; */
    /* width: 400px; */
}
.mi a{
    /* border: 2px solid orangered; */
    width: 200px;
    color: rgb(74, 74, 192);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    
    text-align: center;
}

.mi1{
    position: relative;
   left: 40rem;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    /* background-color: aqua; */
    /* width: 400px; */
}

.mi1 img{
    width: 45px;
    height: 45px;
    /* border: 2px solid black; */
   padding-left: 70px;
   padding-bottom: 20px;}

   .mi1 a{
    /* border: 2px solid orangered; */
    width: 200px;
    color: rgb(74, 74, 192);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    
    text-align: center;
}

.mimg{
    margin-top: 40px;
    display: flex;
  justify-content: space-evenly;
}

.mimg img{
    width: 300px;
    height: 200px;
}
.mimg h2{
    padding-top: 10px;
}

.mimg h4{
    font-weight: 100;
    padding-top:10px ;
    padding-bottom:10px ;
}

.img1 a{
    text-decoration: none;
    font-weight: 600;
    padding-top: 10px;
    color: rgb(70, 70, 174);
}

.main_img img{
    width: 100%;
    height: 500px;
}

.black{
    left: 100px;
    top:300px;
    position: relative;
    z-index: 5px;
    color: white;
}

.black h4{
    padding-top: 20px;
   font-weight: 200;
}

.black h3{
   
}

.black .join{
    margin-top: 20px;
    background-color: rgb(31, 108, 223);
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.h1{
    margin-left: 64px;
    margin-top: 40px;
    padding-top: 20px;
    /* background-color: aquamarine; */

}


.mimg1{
    margin-top: 10px;
    display: flex;
  justify-content: space-evenly;
}

.mimg1 img{
    width: 300px;
    height: 200px;
}
.mimg1 h2{
    padding-top: 10px;
}

.mimg1 h4{
    font-weight: 100;
    padding-top:10px ;
    padding-bottom:10px ;
}

.img1 a{
    text-decoration: none;
    font-weight: 600;
    padding-top: 10px;
    color: rgb(70, 70, 174);
}

.main_img img{
    width: 100%;
    height: 500px;
}

.foot-icon{
    display:flex ;
    
}

.foot-icon i{
    font-size: 25px;
    padding-right: 20px;
}

.foot-icon h4{
    font-weight: 100;
    margin-left: 65px;
    padding-right: 20px;
}

.foot1-icon{
    position: sticky;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.footer1{
    display: flex;
    margin-top: 40PX;
    background-color: rgb(241, 241, 241);
    justify-content: space-around;
    padding-top: 30px;
    color: rgb(90, 87, 87);
    font-size: small;
}

.foot_last{
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    color: rgb(90, 87, 87);
    background-color: rgb(241, 241, 241);
    padding-top: 60px;
}

.foot_last a{
  
  text-decoration: none;
  color: rgb(90, 87, 87);
  padding-right: 30px;
}

.cobo{
    margin-left: 30px;
    display: flex;
    padding-left: 20px;
   
}

.cobo i{
    padding-left: 20px;
}

.f1Head p:hover{
   border-bottom: 1px solid black;
   width: fit-content;
}

.cobo h4:hover ,h5:hover{
    border-bottom: 1px solid black;
   width: fit-content;
}

.lclass a:hover{
    border-bottom: 1px solid black;
    width: fit-content;
}
.mimg1 a:hover{
    border-bottom: 1px solid rgb(108, 108, 250);
    width: fit-content;
}

.mimg a:hover{
    border-bottom: 1px solid rgb(108, 108, 250);
    width: fit-content;
}

